option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: wsgi:app
  aws:elasticbeanstalk:application:environment:
    USE_SECRETS_MANAGER: "true"
    AWS_REGION: "us-east-1"
    FLASK_SECRET_NAME: "aws-tagger/flask-secret"
  aws:autoscaling:launchconfiguration:
    InstanceType: t3.micro
  aws:ec2:instances:
    InstanceTypes: t3.micro
