option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: wsgi:app
  aws:elasticbeanstalk:application:environment:
    FLASK_SECRET_KEY: "adc7969ccc4002cdf4f8e2ebe73aca20fb1bb5b4bf7bcd34552aaaa19873c9a0"
  aws:autoscaling:launchconfiguration:
    InstanceType: t3.micro
  aws:ec2:instances:
    InstanceTypes: t3.micro
